.readonly-div {
    pointer-events: none;
}

.status-input{
    width: calc((100% - 20px));
}

div.cf-pl-hidden {
    display: none;
}

i.cf-pl-hidden {
    display: none;
}

div.cf-pl-visible {
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}